img {
    transition: all 0.6s;
    width: 100%;
    position: relative;
    z-index: 1;
}

img:hover {
    filter: blur(5px);
    transform: scale(1.02);
}

.image-container {
    position: relative;
    margin: 10px;
    transition: all 0.6s;
}

.icon-hidden {
    opacity: 0 !important;
}
.icon-hidden:hover {
    opacity: 1 !important;
}
.close {
    position: absolute;
    top: -5px;
    right: -15px;
    z-index: 1000;
    height: 30px;
    width: 30px;
    opacity: 1;
}

@media only screen and (min-width: 600px) {
    .image-container {
        width: 350px;
    }
}
@media only screen and (min-width: 768px) {
    img {
    }
}
